streamlit==0.85.0
pandas==1.1.5
pafy==0.5.5
plotly==4.14.3
pymysql==1.0.2
streamlit-tags==1.2.8
Pillow==8.2.0
youtube-dl==2021.12.17
nltk==3.5
spacy==2.3.5
pyresparser==1.0.6
pdfminer.six==20201018
protobuf<=3.20.3

